<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yimi.oysc.mapper.PermissionMapper">

    <select id="listByRoleId" resultType="com.yimi.oysc.entity.PermissionEntity">
        SELECT
               *
        FROM T_PERMISSION P
            LEFT JOIN T_ROLE_PERMISSION_REL RP
                    ON P.ID = RP.PERMISSION_ID
            LEFT JOIN T_ROLE R
                    ON R.ID = RP.ROLE_ID
        <where>
            R.ID = #{roleId}
        </where>
    </select>
</mapper>
