<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yimi.oysc.mapper.RoleMapper">

    <resultMap id="selectListMap" type="com.yimi.oysc.vo.SelectRoleVO">
        <result property="name" column="name" />
        <result property="code" column="code" />
        <result property="status" column="status" />
        <result property="createBy" column="create_By" />
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>


    <select id="selectList" resultMap="selectListMap">
        select name,
               code,
               status,
               create_Time,
               create_By
        from t_role
        <where>
            <if test="condVO.name != null">
                and name = #{convVO.name}
            </if>
            <if test="condVO.code != null">
                and code = #{condVO.code}
            </if>
            <if test="condVO.status != null">
                and status = #{condVO.status}
            </if>
        </where>
    </select>
</mapper>
